@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

nav .logo{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    background-color: darkorange;
}

nav .menu-btn i{
    color: white;
    cursor: pointer;
    display: none;
}

.srch{
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid darkorange;
    margin: -4px;
    color: white;
    border-right: none;
    font-size: 16px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn-search{
    width: 70px;
    height: 30px;
    background: darkorange;
    border: 2px solid darkorange;
    margin-top: 1px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
  
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: darkred;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
    background: none;
    color: darkorange;
    }
    
}
/*Barra de navegação acaba aqui*/

/*Footer*/

#footer {
    margin-top: 10px;
    background: #292929;
    padding: 50px;
    color: grey;
}

#footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#footer h2, h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
    color: var(--corPadrão);
}


.btn-footer {
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {    
    text-decoration: none;      
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.social{
    display: flex;
}

.social .media {
    color: grey;
    margin: 5px;
    font-size: 22px;
    padding: 5px;
    background: var(--corPadrão);
}

#footer ul {
    padding-left: 2px;
}
#footer ul li {
    list-style: none;
}
#footer ul li a{
    text-decoration: none;
    color: grey;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5;
}

/*Fim footer*/